venv/
__pycache__/
*.pyc
uploads/
logs/cdms.db
model_training/dataset/
model_training/checkpoints/best_model.pth
yolov8n.pt
*.zip
*.matmodel_training/dataset/
model_training/checkpoints/
yolov8n.pt
model_training/dataset/
model_training/checkpoints/
yolov8n.pt
yolov8m.pt
yolov8n-seg.pt
yolov8n.pt
